* ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif, serif;
}
body{
    scroll-behavior: smooth;
    background-color: #fff;
}
:root{
    --primary-color: #2947A9;
    --secondary-color: #F9995D;
    --neutral-900-color: #292E3D;
    --neutral-800-color: #292E3D;
    --neutral-700-color:#3D445C; 
    --text-color: #858EAD;

    --primary-font: "Roboto";
    --secondary-font: "Poppins";
}

/* 
  Global & Reusable classes Styling
 */

 .container{
    width: 100%;
    padding-inline: 2rem;
 } 
 .section{
    padding-block: 80px;
    overflow-x: hidden;
 }
 .section  .title{
    text-align: center;
    padding-bottom: 40px;
 }
 .subheader{
    font-family: var(--primary-font);
    font-size: 1.7rem;
    font-weight: bold;
 }

 .btn{
    padding-inline: 30px;
    padding-block: 12px;
    font-size: 1.1rem;
    font-family: var(--primary-font);
    font-weight: 600;
    letter-spacing: 1px;
     border: 0;
    border-radius: 2px;
    cursor: pointer;
 }
 /* END */

 .header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 4px rgb(157, 157, 183);
    background-color: #fff;
    z-index: 100;
 }
 /* Logo */
.header_nav .logo_wrapper{
    width: 120px;
    cursor: pointer;
}
.logo_wrapper img{
    height: 40px;
    object-fit: contain;
}
.header_nav .nav_list_wrapper{
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Deck top */
.nav_list_wrapper .deck_top_nav{
    display: none;
    justify-content: flex-end;
    width: 100%;
}
.deck_top_nav ul{
    display: inline-flex;
    align-items: center;
    grid-column-gap: 3rem;
    list-style: none;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}
.deck_top_nav ul li{
    color: var(--neutral-900-color);
    cursor: pointer;
}
.deck_top_nav ul li:hover{
    color: var(--primary-color);
}
.deck_top_nav ul li:active{
    color: var(--secondary-color);
}

/* mobile */
.nav_list_wrapper .mobile_nav{
    display: flex;
    position: relative;
}
.mobile_nav .hamburger_open{
    cursor: pointer;
}
.mobile_nav .hamburger_open img{
    height: 14px;
    object-fit: contain;
}
.mobile_nav .mobile_nav_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    transition: right .5s ease;
    background-color: var(--primary-color);
    z-index: 90;
}
.mobile_nav_wrapper .hamburger_close{
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}
.mobile_nav_wrapper .hamburger_close img{
    height: 16px;
    object-fit: contain;
}
.mobile_nav_wrapper .list_wrapper{
    margin-top: 3rem;
}
.mobile_nav_wrapper .list_wrapper{
    margin-top: 80px;
}
.mobile_nav_wrapper .list_wrapper ul{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 2rem;
    list-style: none;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
}
.mobile_nav_wrapper .list_wrapper ul li{
    color: #fff;
    cursor: pointer;
}
.mobile_nav_wrapper .list_wrapper ul li:hover{
    color: var(--primary-color);
}
.mobile_nav_wrapper .list_wrapper ul li:active{
    color: var(--secondary-color);
}

/* Hero section */
.hero{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: auto;
    background-image: url('./assests/Hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/* Hero text */
.hero .hero_text{
    flex: 1;
    display: flex;
    align-items: center;
    height: inherit;
}
.hero .hero_text h1{
    font-family: var(--primary-font);
    color: var(--neutral-800-color);
    font-size: 2rem;
    letter-spacing: -1px;
    white-space: nowrap;
    font-weight: bold;
}
/* Hero box */
.hero .hero_box{
    flex: .25;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero_box .box .text_wrapper{
   background-color: var(--primary-color);
   padding-block: 1.2rem;
   padding-inline: 3.4rem;
   color: #fff;
   text-align: center;
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
}
.hero_box .box .text_wrapper h2{
    font-size: 1.2rem;
    font-family: var(--primary-font);
    margin-bottom: 18px;
 }
 .hero_box .box .text_wrapper p{
    font-size: 1rem;
    font-family: var(--secondary-font);
    line-height: 22px;
    letter-spacing: 2px;
    max-width: auto;
 }
 .hero_box .box .navigation_wrapper{
    display: flex;
    grid-column-gap: 2px;
 }
 .hero_box .box .navigation_wrapper > div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 14px;
    padding-block: .8rem;
    background-color: var(--neutral-900-color);
    color: #fff;
    font-size: .8rem;
    font-family: var(--primary-font);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
 }
 .hero_box .box .navigation_wrapper > div img{
    background-color: var(--neutral-900-color);
    height: 14px;
    cursor: pointer;
 }

 /* Reputation Section */
 .reputation .flex_content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 40px;
    height: auto;
 }
 .reputation .flex_content_wrapper .boxs{
    max-width: 280px;
    min-height: 100px;
    padding: 18px;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(204, 208, 213, 0.8);
 }
 .reputation .flex_content_wrapper .boxs img{
    margin-bottom: 20px;
    height: 40px;
    object-fit: contain;
 }
 .reputation .flex_content_wrapper .boxs h3{
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: var(--neutral-800-color);
 }
 .reputation .flex_content_wrapper .boxs p{
    max-width: 280px;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 1.1rem;
 }

 /* About section */
 .about_us{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }
.about_us .about_us_img {
    flex:5 0 280px;
    min-height: 380px;
    background-image: url('./assests/about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.about_us .text_content{
    flex:1 0 280px;
    position: relative;
    min-height: 380px;
}
.about_us .text_content .box{
    position: absolute;
    top: -30%;
    right: 0%;
    max-width: 320px;
    padding-block: 40px;
    padding-inline: 30px;
    color: #fff;
    border-radius: 2px;
    background-color: var(--primary-color);
}
.about_us .text_content .box p{
    font-family: var(--text-color);
    font-size: 1rem;
    line-height: 24px;
}
.about_us .text_content .box p span{
    display: block;
    margin-top: 40px;
}
.about_us .text_content .box button{
    margin-top: 50px;
    color: var(--primary-color);
    background-color:#fff;
}

/* Services */
.services{
    background-color: #F6F8F7;
}
.services .grid_container{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.services .grid_container .boxs{
    min-width: 240px ;
    padding-block: 34px;
    text-align: center;
    border-radius: 2px;
    color: var(--primary-color);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(204, 208, 213, 0.8);
}
.services .grid_container .boxs img{
    height: 30px;
    object-fit: contain;
}
.services .grid_container .boxs .stroke{
    display: block;
    width: 60px;
    height: 2px;
    margin-inline: auto;
    margin-top: 15px;
    border-radius: 40px;
    background-color: rgb(206, 207, 211);
}
.services .grid_container .boxs p{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--primary-font);
}
.services .grid_container > div:nth-child(1) {
    justify-self: flex-end;
}
.services .grid_container > div:nth-child(2) {
    justify-self: center;
    color: #fff;
    background-color:  var(--primary-color);
}
.services .grid_container > div:nth-child(3) {
    justify-self: flex-start;
}
.services .grid_container > div:nth-child(4) {
    justify-self: flex-end;
    color: #fff;
    background-color: var(--primary-color);
}
.services .grid_container > div:nth-child(5) {
    justify-self: center;
}
.services .grid_container > div:nth-child(6) {
    justify-self: flex-start;
    color: #fff;
    background-color: var(--primary-color);
}

/* experience section */
.experience{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
}
.experience .title{
    text-align: start;
}
.experience .boxs_wrapper{
    flex:2 0 280px;
    position: relative;
    min-height: 580px;
}
.experience .boxs_wrapper .boxs{
    position: absolute;
    min-width: 200px;
    padding-inline: 40px;
    padding-block: 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 8px 8px rgba(209, 219, 230, 0.8);
}
.experience .boxs_wrapper img{
    height: 50px;
    object-fit: contain;
    position: absolute; 
    top: -15px;
}
.experience .boxs_wrapper h3{
    font-size: 3.2rem;
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: 1px;
}
.experience .boxs_wrapper .text_wrapper{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    padding-left: 14px;
}
.experience .boxs_wrapper .text_wrapper span{
    display: block;
    height: 30px;
    width: 8px;
    background-color: var(--secondary-color);
    border-radius: 1px;
}
.experience .boxs_wrapper .text_wrapper p{
    font-size: 1.2rem;
    font-family: var(--primary-font);
    color: var(--text-color);
    letter-spacing: 1.1px;
}
.experience .boxs_wrapper > div:nth-child(1){
    top: 10px;
    right: 16%;
    z-index: 1;
}
.experience .boxs_wrapper > div:nth-child(1) img{
    right: -20px;
}
.experience .boxs_wrapper > div:nth-child(2){
    top: 130px;
    left: 8%;
}
.experience .boxs_wrapper > div:nth-child(2) img{
    left: -20px;
}
.experience .boxs_wrapper > div:nth-child(3){
    top: 260px;
    right: 19%;
    z-index: 1;
}
.experience .boxs_wrapper > div:nth-child(3) img{
    right: -20px;
}
.experience .boxs_wrapper > div:nth-child(4){
    top: 380px;
    left: 11%;
}
.experience .boxs_wrapper > div:nth-child(4) img{
    top: 70%;
    right: -20px;
}

.experience .content_wrapper{
    flex: 1 0 280px;
    height: 480px;
}
.experience .content_wrapper .title{
    margin-top: 60px;
}
.experience .content_wrapper h2{
    font-size: 3rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 900;
    letter-spacing: 1.1px;
    max-width: 280px;
}
.experience .content_wrapper p{
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: var(--secondary-font);
    max-width: 240px;
}
.experience .content_wrapper button{
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 40px;
}

.consultation{
    background-image: url('./assests/consultation_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.consultation .content_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
    min-height: 140px;
}
.consultation .text_wrapper{
    flex: 1 0 280px;
}
.consultation .text_wrapper h2{
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 30px;
}
.consultation .text_wrapper p{
    font-size: 1.4rem;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    color: #fff;
}
.consultation .content_wrapper .button_wrapper{
    flex: 1 0 280px;
    display: flex;
    align-items: center;
}
.consultation .content_wrapper .button_wrapper button{
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}



@media (min-width: 481px){
     .hero .hero_text h1{
        font-size: 3rem;
    }
    .services .grid_container .boxs{
        min-width: 280px ;
    }

    .experience .boxs_wrapper{
        flex-basis: 480px;
    }

 }
   
@media (min-width: 767px){
    .subheader{
        font-size: 2rem;
     }

    .nav_list_wrapper .deck_top_nav{
        display: flex;
    }
    .nav_list_wrapper .mobile_nav{
        display: none;
    }

    .hero .hero_text h1{
        font-size: 4rem;
    }

    .hero_box .box .text_wrapper{
       padding-block: 2rem;
       padding-inline: 4rem;
    }
    .hero_box .box .text_wrapper h2{
        font-size: 1.6rem;
        margin-bottom: 25px;
     }
     .hero_box .box .text_wrapper p{
        font-size: 1.2rem;
        line-height: 28px;
        letter-spacing: 4px;
        max-width: 300px;
     }

     .hero_box .box .navigation_wrapper > div{
        padding-block: 1rem;
        font-size: 1rem;
     }

     .reputation .flex_content_wrapper .boxs{
        max-width: 480px;
     }

     .reputation .flex_content_wrapper .boxs h3{
        font-size: 1.4rem;
     }

     .about_us .about_us_img,
    .about_us .text_content{
        min-height: 680px;
    }

    .about_us .text_content .box{
        position: absolute;
        top: 50%;
        left: -35%;
        transform: translatey(-50%);
        max-width: 480px;
    }

    .services .grid_container{
        column-gap: 30px;
        row-gap: 80px;
        grid-template-columns: repeat(2, 1fr);
    }
   
    .experience .boxs_wrapper{
        flex-basis: 767px;
    }


    .experience .boxs_wrapper .boxs{
        min-width: 240px;
        padding-left: 40px;
        padding-right: 80px;
        padding-block: 20px;
    }
    .experience .boxs_wrapper img{
        height: 80px;
        top: -20px;
    }
    .experience .boxs_wrapper h3{
        font-size: 4rem;
    }
    .experience .boxs_wrapper .text_wrapper span{
        height: 40px;
    }
    .experience .boxs_wrapper .text_wrapper p{
        font-size: 1.4rem;
    }

    .experience .boxs_wrapper > div:nth-child(1){
        top: 10px;
        right: 22%;
    }
    .experience .boxs_wrapper > div:nth-child(2){
        top: 130px;
        left: 22%;
    }
    .experience .boxs_wrapper > div:nth-child(3){
        top: 260px;
        right: 26%;
        z-index: 1;
    }
    .experience .boxs_wrapper > div:nth-child(4){
        top: 380px;
        left: 26%;
    }
    
    .experience .content_wrapper h2{
        font-size: 4rem;
    }

    .consultation .content_wrapper .button_wrapper{
        justify-content: flex-end;
        column-gap: 30px;
    }
 }

 @media (min-width: 1025px){
    .container{
        padding-inline: 12rem;
     }

     .hero .hero_text h1{
        font-size: 6rem;
    }


    
 }

 @media (min-width: 1465px){
    .services .grid_container{
        grid-template-columns: repeat(3, 1fr);
    }
 } 

